/* ===== font styling ===== */
/* ===== transitions ===== */
/* ===== colors ===== */
/* ===== div styling ===== */
/* ===== font styling ===== */
/* ===== transitions ===== */
/* ===== colors ===== */
/* ===== div styling ===== */
.postComments_div {
  margin-top: 2rem;
}
.postComments_div .comments_form .post_btn {
  border: none;
}
.postComments_div .comments_form .comments_form_div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 40%;
}
.postComments_div .comments_form .comments_form_div .post_btn {
  cursor: pointer;
  background-color: #1E90FF;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.postComments_div .comments_form .comments_form_div .post_btn:hover {
  box-shadow: 0 0 5px #000;
  transition: 0.3s ease;
}
.postComments_div .comments_form .comments_form_div .post_btn:active {
  box-shadow: inset 0 0 5px #000;
  transition: 0.3s ease;
}
.postComments_div .comments_form .comments_form_div .comments_inputs_div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.postComments_div .comments_form .comments_form_div .comments_inputs_div .comments_input,
.postComments_div .comments_form .comments_form_div .comments_inputs_div .comments_textarea {
  border: none;
  border-radius: 5px;
  outline: none;
  resize: none;
  background-color: #F5F5F5;
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  padding: 0.3rem;
  transition: 0.3s ease;
}
.postComments_div .comments_form .comments_form_div .comments_inputs_div .comments_input:focus,
.postComments_div .comments_form .comments_form_div .comments_inputs_div .comments_textarea:focus {
  background-color: #fff;
  box-shadow: 0 0 5px #1E90FF;
  transition: 0.3s ease;
}
.postComments_div .comments_form .comments_form_div .comments_inputs_div .comments_textarea {
  height: 100px;
}

/* ========== media queries for large devices ========== */
@media screen and (max-width: 1024px) {
  .postComments_div .comments_form .comments_form_div {
    width: 70%;
  }
  .postComments_div .comments_form .comments_form_div .comments_inputs_div .comments_textarea {
    height: 100px;
  }
}
/* ========== media queries for small devices ========== */
@media screen and (max-width: 600px) {
  .postComments_div .comments_form .comments_form_div {
    width: 100%;
  }
  .postComments_div .comments_form .comments_form_div .comments_inputs_div .comments_textarea {
    height: 100px;
  }
}
/* ===== font styling ===== */
/* ===== transitions ===== */
/* ===== colors ===== */
/* ===== div styling ===== */
.singleComment_form .singleComment_fieldset {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 0.3rem;
  transition: 0.3s ease;
  margin-top: 1rem;
  word-break: break-all;
}
.singleComment_form .singleComment_fieldset:hover {
  border: 1px solid #1E90FF;
}
.singleComment_form .singleComment_fieldset:hover .icon_btns_div {
  transition: 0.3s ease;
  opacity: 1;
}
.singleComment_form .singleComment_fieldset:hover .singleComment_legend {
  color: #000;
  transition: 0.3s ease;
}
.singleComment_form .singleComment_fieldset:hover .singleComment_legend .date {
  color: #000;
  transition: 0.3s ease;
}
.singleComment_form .singleComment_fieldset .edit_input_field {
  border: none;
  border-radius: 5px;
  outline: none;
  resize: none;
  background-color: #F5F5F5;
  font-family: "Ubuntu", sans-serif;
  padding: 0.3rem;
  transition: 0.3s ease;
}
.singleComment_form .singleComment_fieldset .edit_input_field:focus {
  background-color: #fff;
  box-shadow: 0 0 5px #1E90FF;
  transition: 0.3s ease;
}
.singleComment_form .singleComment_fieldset .singleComment_legend {
  color: #a9a9a9;
  font-weight: bold;
  padding: 0.3rem;
  transition: 0.3s ease;
}
.singleComment_form .singleComment_fieldset .singleComment_legend .date {
  font-style: italic;
  color: #a9a9a9;
  transition: 0.3s ease;
}
.singleComment_form .singleComment_fieldset .icon_btns_div {
  transition: 0.3s ease;
  opacity: 0;
  margin-top: 0.5rem;
}
.singleComment_form .singleComment_fieldset .icon_btns_div .icon_btn {
  display: inline-flex;
  cursor: pointer;
  margin: auto 0.3rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  transition: 0.3s ease;
  background-color: #F5F5F5;
}
.singleComment_form .singleComment_fieldset .icon_btns_div .reply {
  transition: 0.3s ease;
}
.singleComment_form .singleComment_fieldset .icon_btns_div .reply:hover {
  color: #fff;
  background-color: #1E90FF;
  transition: 0.3s ease;
}
.singleComment_form .singleComment_fieldset .icon_btns_div .edit {
  transition: 0.3s ease;
}
.singleComment_form .singleComment_fieldset .icon_btns_div .edit:hover {
  color: #fff;
  background-color: #FFA500;
  transition: 0.3s ease;
}
.singleComment_form .singleComment_fieldset .icon_btns_div .delete {
  transition: 0.3s ease;
}
.singleComment_form .singleComment_fieldset .icon_btns_div .delete:hover {
  color: #fff;
  background-color: #DC143C;
  transition: 0.3s ease;
}

/* ===== font styling ===== */
/* ===== transitions ===== */
/* ===== colors ===== */
/* ===== div styling ===== */
.replies_div .reply_form {
  display: flex;
  width: 500px;
  height: 100px;
  margin-top: 1rem;
}
.replies_div .reply_form .reply_inputs {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
}
.replies_div .reply_form .reply_inputs .replier_name_input,
.replies_div .reply_form .reply_inputs .replier_textarea {
  border: none;
  border-radius: 5px;
  outline: none;
  resize: none;
  background-color: #F5F5F5;
  font-family: "Ubuntu", sans-serif;
  padding: 0.3rem;
  transition: 0.3s ease;
}
.replies_div .reply_form .reply_inputs .replier_name_input:focus,
.replies_div .reply_form .reply_inputs .replier_textarea:focus {
  background-color: #fff;
  box-shadow: 0 0 5px #1E90FF;
  transition: 0.3s ease;
}
.replies_div .reply_form .reply_inputs .replier_textarea {
  height: 100%;
}
.replies_div .reply_form .addReply_btn {
  cursor: pointer;
  background-color: #1E90FF;
  color: #fff;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  border: none;
  border-radius: 10px;
  transition: 0.3s ease;
  width: 50px;
  padding: 0.5rem;
  margin: 0.3rem;
}
.replies_div .reply_form .addReply_btn:hover {
  box-shadow: 0 0 5px #000;
  transition: 0.3s ease;
}
.replies_div .reply_form .addReply_btn:active {
  box-shadow: inset 0 0 5px #000;
  transition: 0.3s ease;
}
.replies_div .replier_fieldset {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 0.3rem;
  transition: 0.3s ease;
  margin-top: 1rem;
}
.replies_div .replier_fieldset:hover {
  border: 1px solid #00BFFF;
}
.replies_div .replier_fieldset:hover .replier_legend {
  color: #000;
}
.replies_div .replier_fieldset .replier_legend {
  color: #a9a9a9;
  padding: 0.3rem;
  font-weight: bold;
  transition: 0.3s ease;
}
.replies_div .replier_fieldset .replier_icon_btn {
  cursor: pointer;
  margin: auto 0.3rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  transition: 0.3s ease;
  background-color: #F5F5F5;
}
.replies_div .replier_fieldset .replier_icon_btn:hover {
  color: #fff;
  background-color: #DC143C;
  transition: 0.3s ease;
}
.replies_div .replier_fieldset .delete {
  opacity: 0;
}
.replies_div .replier_fieldset:hover .delete {
  opacity: 1;
}

/* ========== media queries for small devices ========== */
@media screen and (max-width: 600px) {
  .replies_div .reply_form {
    width: 100%;
  }
}
.container {
  width: 95%;
  height: 100vh;
  margin: auto;
}
.container .comments_div {
  margin-top: 5rem;
  padding: 1rem;
  width: 100%;
  border: 1px solid #1E90FF;
  border-radius: 10px;
}/*# sourceMappingURL=App.css.map */